<% include ./partials/headerhome %> 
<!--courousel-->
<%if(blogs&&blogs.length>=3){%>
  <div id="demo" class="carousel slide" data-ride="carousel" data-interval="3000">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
      <% for(var i=0; i<3; i++){ %>
        
      <%  if(i==0){ %>
          <div class="carousel-item item2 active">
              <img src="<%= blogs[i].image %>" width="1100" height="500">
              <div class="carousel-caption">
                  <h3 class="titilliumfont"><%=blogs[i].title%></h3>
                  <p class="titilliumfont"><%- blogs[i].body.substring(0,100) %>...</p>
                  <button class="button"><a href="/blogs/<%= blogs[i]._id %>" class="carread" >Read More</a></button>
                </div>
            </div>
             
     <% }else{ %>
          <div class="carousel-item item2">
              <img src="<%= blogs[i].image %>" width="1100" height="500">
              <div class="carousel-caption">
                  <h3 class="titilliumfont"><%=blogs[i].title%></h3>
                  <p class="titilliumfont"><%- blogs[i].body.substring(0,250) %>...</p>
                  <button class="button"><a href="/blogs/<%= blogs[i]._id %>"class="carread">Read More</a></button>
                </div>
            </div>
      <% } %>
      <% } %>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="glyphicons glyphicons-arrow-right"></span>
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<% } %>

<div class="abc"></div>

<!-- show all the blogs -->
<!-- <div class="media">
  <img class="mr-3" src="" alt="Generic placeholder image" width="400" height="200">
  <div class="media-body">
    <h5 class="mt-0">Media heading</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div> -->
<!-- Left-aligned -->
<!-- <div class="media">
  <div class="media-left">
    <img src="https://www.planwallpaper.com/static/images/colorful-nature-wallpaper.jpg" class="media-object" width="200px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">John Doe</h4>
    <p>Lorem ipsum...</p>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div> -->

  <div class="jumbotron">
      <div class="container">
    <div class="card-deck">
        <div class="row" id="homegrid">
        <% blogs.forEach(function(blog){ %>
        <div class="col-sm-6 d-flex align-items-stretch">
        <div class="blogcard card">
          <img class="card-img-top cardimg" src="<%= blog.image %>">
          <div class="card-body">
              <h5 class="card-title titilliumfont"> <%= blog.title%></h5>
              <p class="card-text">  <span><small class="text-muted"><i class="fas fa-calendar-alt"></i><span style="
                padding-right: 5px;"></span><%= blog.created.toDateString() %><span style="
                padding-right: 10px;"></span><i class="fas fa-clock"></i><span style="padding-right: 5px;"></span><%=blog.created.toLocaleTimeString() %></small></span></p>
              <p class="card-text tinos"><%- blog.body.substring(0,250) %>...</p>
              <button class="btn btn-primary"><a href="/blogs/<%= blog._id %>" class="readmore">Read More</a></button>
          </div>
        </div>
        </div>
        
         <%});%>
  
      <!-- <div class="card">
        <img class="card-img-top" src="https://www.planwallpaper.com/static/images/15-beach-sea-photography.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://www.planwallpaper.com/static/images/colorful-nature-wallpaper.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
  </div>
</div>


<!-- 
<% blogs.forEach(function(blog){ %>
  <div>
  <h2> <%= blog.title%></h2>
    <img src="<%= blog.image %>">
   <span> <%= blog.created.toDateString() %></span>
  <p>  <%- blog.body.substring(0,100) %>...</p>
  <a href="/blogs/<%= blog._id %>">Read More</a>
  </div>
 <% }); %> -->

<!-- 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
 <script src="/javascript/bootstrap.min.js"></script> -->
  
 <% include ./partials/footer %> 